.my {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.my .my-bod {
  flex: 1;
  overflow: auto;
}
.my .my-bod .my-name {
  width: 100%;
  background: red;
  font-size: 0.18rem;
  padding: 0.8rem 0.2rem;
  box-sizing: border-box;
  display: flex;
}
.my .my-bod .my-name dt {
  width: 0.8rem;
  background: white;
  border-radius: 100% 100%;
}
.my .my-bod .my-name dd {
  flex: 1;
  padding-left: 0.2rem;
  box-sizing: border-box;
}
.my .my-bod .my-name dd p {
  line-height: 0.4rem;
  color: white;
  font-size: 0.22rem;
}
.my .my-bod .my-order-form {
  width: 100%;
  font-size: 0.18rem;
  background: white;
  margin-bottom: 0.2rem;
}
.my .my-bod .my-order-form p {
  width: 100%;
  padding: 0 0.2rem;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #EFEFEF;
  line-height: 0.6rem;
}
.my .my-bod .my-order-form p span:nth-child(1) {
  flex: 1;
  font-size: 0.23rem;
}
.my .my-bod .my-order-form p span:nth-child(2) {
  width: 2rem;
  text-align: right;
  font-size: 0.21rem;
}
.my .my-bod .my-order-form p span:nth-child(2) .anticon {
  font-size: 0.23rem;
  color: black !important;
}
.my .my-bod .my-order-form div {
  width: 100%;
  display: flex;
  text-align: center;
  padding: 0.2rem 0;
}
.my .my-bod .my-order-form div dl {
  flex: 1;
}
.my .my-bod .duan {
  width: 100%;
  height: 0.2rem;
  background: #EEEEEE;
}
.my .my-bod .my-msg {
  width: 100%;
  background: white;
}
.my .my-bod .my-msg p {
  padding: 0.1rem 0.2rem;
  box-sizing: border-box;
  font-size: 0.24rem;
  border-bottom: 1px solid #EFEFEF;
  line-height: 0.6rem;
  display: flex;
}
.my .my-bod .my-msg p span:nth-child(1) {
  flex: 1;
}
.my .my-bod .my-msg p span:nth-child(2) {
  width: 0.6rem;
  text-align: right;
  padding: 0;
}
.my .my-bod .my-msg p .anticon {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my .my-bod .my-but {
  width: 100%;
  padding: 0.2rem 0.8rem;
  box-sizing: border-box;
}
.my .my-bod .my-but button {
  width: 100%;
  line-height: 0.7rem;
  color: white;
  background: #E51B19;
  border: none;
  border-radius: 0.05rem;
  margin-top: 0.05rem;
}
